<form id="login-form" action="#">
    <div>username:</div>
    <input type="text" name="username">
    <div>password:</div>
    <input type="password" name="password">
    <input type="submit" value="Login">
<form>

<div>
    <button id="api-button">
        API
    </button>
</div>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script>
	$('#login-form').submit(function (event) {
        event.preventDefault()
        var form = $(this)
        $.ajax({
            type: 'POST',
            url: 'http://localhost:3000/login',
            data: Object.assign({}, {
            	username: $('input[name=username]').val(),
            	password: $('input[name=password]').val(),
                grant_type: 'password',
                client_id: 'null',
                client_secret: 'null',
            }),
            success(response) {
                console.log(response)
                localStorage.setItem('access_token', response.access_token)
            }
        })
    })
    
    
	$('#api-button').click(function (event) {
        event.preventDefault()
        const accessToken = localStorage.getItem('access_token')
        $.ajax({
            url: 'http://localhost:3000/restricted',
            headers: {
                Authorization: `Bearer ${accessToken}`,
            },
            success(response) {
                console.log(response)
            }
        })
    })
</script>